@import '../utils/_mixins.scss';
@import '../utils/_variables.scss';

body{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}
main{
  flex-grow: 1;
}
.container {
  max-width: $mobile;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  @include tablet {
    max-width: $tablet;
    padding-left: 76px;
    padding-right: 76px;
  }
  @include desktop {
    max-width: $desktop;
    padding-left: 71px;
    padding-right: 71px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
button {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
p {
  margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
html {
  position: relative;
  min-height: 100%;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}