@import '../utils/_mixins.scss';
@import '../utils/_variables.scss';

.container {
  max-width: $mobile;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  @include tablet {
    max-width: $tablet;
    padding-left: 76px;
    padding-right: 76px;
  }
  @include desktop {
    max-width: $desktop;
    padding-left: 71px;
    padding-right: 71px;
  }
}
.home-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
  -webkit-image-set(url("../images/mobile/header.jpg") 1x, url("../images/mobile/header@2x.jpg") 2x);
  background-repeat: no-repeat;
  background-size: 320px 230px;
  background-position: center top;
  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    -webkit-image-set(url("../images/tablet/header.jpg") 1x, url("../images/tablet/header@2x.jpg") 2x);
    background-size: 768px 230px;
  }
  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    -webkit-image-set(url("../images/desktop/header.jpg") 1x, url("../images/desktop/header@2x.jpg") 2x);
    background-size: 1024px 230px;
  }
}
.library-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
  -webkit-image-set(url("../images/mobile/library.jpg") 1x, url("../images/mobile/library@2x.jpg") 2x);
  background-repeat: no-repeat;
  background-size: 320px 230px;
  background-position: center top;
  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    -webkit-image-set(url("../images/tablet/library.jpg") 1x, url("../images/tablet/library@2x.jpg") 2x);
    background-size: 768px 230px;
  }
  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    -webkit-image-set(url("../images/desktop/library.jpg") 1x, url("../images/desktop/library@2x.jpg") 2x);
    background-size: 1024px 230px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
button {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
p {
  margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.hidden {
  visibility: hidden;
  display: none;
  position: absolute;
}
.main {
  padding-bottom: 150px;
}
html {
  position: relative;
  min-height: 100%;
}
