<header class="home-page">
  <div class="container nav">
      <a href="/" class="filmoteka">
        <svg class="filmIcon">
          <use href="./images/symbol-defs.svg#filmIcon"></use>
        </svg>
        <span class="title">Filmoteka</span>
      </a>
      <div class="nav__buttons">
        <button type="button" class="nav_button home current" disabled>home</button>
        <button type="button" class="nav_button library">my library</button>
      </div>
  </div>
  <div class="container header-features">
    <div class="form-box">
      <form class="search-form">
        <input type="text" class="search-input" placeholder="Search"  />
        <svg class="search-icon">
          <use href="./images/symbol-defs.svg#searchIcon" class="svg"></use>
        </svg>
      </form>
      <p class="error visually-hidden">Search result not successful. Enter the correct movie name</p>
    </div>
    <div class="library-buttons visually-hidden">
      <button class="library-button hero-watched">watched</button>
      <button class="library-button hero-queue">queue</button>
    </div>
  </div>
  
</header>
