<div class="container hero">
  <div class="form-box">
    <form class="search-from">
      <input type="text" class="search-input" placeholder="Поиск фильмов" />
      <svg class="search-icon">
        <use xlink:href="./images/symbol-defs.svg#searchIcon" class="svg"></use>
      </svg>
    </form>
    <p class="error visually-hidden">Search result not successful. Enter the correct movie name</p>
  </div>
  <div class="library-buttons visually-hidden">
    <button class="library-button watched current">watched</button>
    <button class="library-button queue">queue</button>
  </div>
</div>
