<div class="paginator container" data-pages>
  <!-- <ul class="paginator-buttons">
      <li class="paginator-item"><button class="paginator-button"><svg class="left-arrow"><use href="./images/symbol-defs.svg#icon-arrow-left" class="svg"></use></svg></button></li>
      <li class="paginator-item"><button class="paginator-button number ">1</button></li>
      <li class="paginator-item first-decor"><svg class="dots"><use href="./images/symbol-defs.svg#dots" class="svg"></use></svg></li>
      <li class="paginator-item"><button class="paginator-button number ">2</button></li>
      <li class="paginator-item"><button class="paginator-button number ">3</button></li>
      <li class="paginator-item"><button class="paginator-button number current ">4</button></li>
      <li class="paginator-item"><button class="paginator-button number ">5</button></li>
      <li class="paginator-item"><button class="paginator-button number ">6</button></li>
      <li class="paginator-item second-decor"><svg class="dots"><use href="./images/symbol-defs.svg#dots" class="svg"></use></svg></li>
      <li class="paginator-item"><button class="paginator-button number ">7</button></li>
      <li class="paginator-item"><button class="paginator-button"><svg class="right-arrow"><use href="./images/symbol-defs.svg#icon-arrow-left" class="svg"></use></svg></button></li>
    </ul> -->
</div>

<!-- visually-hidden -->
