.paginator {
  padding-bottom: 40px;
  @include tablet {
    padding-bottom: 60px;
  }
}
.paginator-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: -10px;
}
.paginator-item {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.paginator-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 40px;
  &.number {
    background-color: transparent;
    font-size: 12;
    line-height: 16px;
    font-weight: 500;
    &.current {
      cursor: default;
      transition: background-color 250ms linear;
      background-color: var(--accent-color);
      color: var(--white-text);
    }
  }
  &:active {
    outline:none;
    cursor: pointer;
    transition: background-color 250ms linear;
    background-color: var(--accent-color);
    color: var(--white-text);
    & .right-arrow .svg,
    & .left-arrow .svg{
      stroke: var(--white-text);
    }
  }
  @include tablet{
    &:hover,&:focus {
    outline:none;
    cursor: pointer;
    transition: background-color 250ms linear;
    background-color: var(--accent-color);
    color: var(--white-text);
    & .right-arrow .svg,
    & .left-arrow .svg{
      stroke: var(--white-text);
    }
  }
  }
  
}

.left-arrow {
  transform: rotate(180deg);
}
.right-arrow,
.left-arrow {
  height: 16px;
  width: 16px;
  & path {
    fill: inherit;
    stroke: inherit;
  }
  & .svg {
    fill: none;
    stroke: #000000;
  }
}
.dots{
  height: 11px;
  width: 11px;
}